@import 'mixins';


.songDetail {
  position: relative;

  &__inner {
    position: absolute;
    inset: 0;
    padding: 2em;
    overflow-y: scroll;
  }

  &__goBack {
    background-color: transparent;
    transition: opacity 0.5s;
    color: green;
    text-decoration: underline;
    padding: 1rem;
    margin: 0 0 0 -1rem;

    &:hover {
      opacity: 0.7;
    }

  }

  &__title {
    margin-bottom: 0.3rem;
    color: #444;
  }

  &__originalArtist {
    margin-top: 0;
  }

  &__addNewSection {
    display: grid;
    gap: 1rem;
    align-items: end;
    grid-template-columns: auto 1fr;
    margin-top: 1rem;

    button {
      @include button;
      width: 16rem;
    }

  }

}

@media (max-width: 800px) {
  .songDetail {
    border-left: solid 1px #ccc;
    position: absolute;
    inset: 0 0 0 100%;
    background: white;
    transition: left 0.5s;
    width: 100%;

    &--songSelected {
      inset: 0;
    }

  }

}

@media (min-width: 801px) {
  .songDetail {

    &__goBack {
      display: none;
    }

  }

}

@media (max-width: 1050px) {

  .songDetail {

    &__addNewSectionFormField {
      grid-column: 1 / -1;
    }

  }

}
