.songlist {
  border-right: solid 1px #ccc;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 1em 1.3rem 0;
    font-size: 2em;
    border-bottom: solid 1px #ccc;
    padding: 0 0.4rem 0.8rem;
  }

  &__wrapper {
    flex: 1;
    position: relative;
  }

  &__songs {
    margin: 0 0.25rem;
    list-style-type: none;
    padding: 0.8rem 0.25rem 0 1rem;
    position: absolute;
    inset: 0;
    overflow-y: scroll;

    li {
      display: flex;

      &:not(:first-child) {
        border-top: dotted 1px #ccc;
      }

    }

    button {
      background-color: transparent;
      flex: 1;
      cursor: pointer;
      position: relative;
      left: 0;
      margin: 0;
      padding: 0;
      border-radius: 4px;
      padding: 0.5rem;
      text-align: left;
      color: #444;

      &:hover {
        background-color: lightblue;
      }

      //&:active {
      //  background-color: #525252;
      //  color: #fafafa;
      //}

      //&.selected {
      //  background-color: black;
      //  color: white;
      //}
      //
      //&.selected:hover {
      //  background-color: lightblue;
      //  color: white;
      //}
      //
      //&.selected:active {
      //  background-color: black;
      //  color: white;
      //}

    }

  }

  &__song--selected button {
    background-color: #ccc !important;
  }

}




@media (max-width: 800px) {
  .songlist {
    height: 100%;
  }
}
