<div class="listAndDetail">

  <div class="songlist">
    <h2 class="songlist__title">My Songs</h2>
    <div class="songlist__wrapper">
      <ul class="songlist__songs">
        <li *ngFor="let song of songs" [class.songlist__song--selected]="song === selectedSong">
          <button type="button" (click)="onSelect(song)">
            <span style="display: block;">{{song.songTitle}}</span>
            <span style="display: block; font-size: 1rem; margin-top: 0.3rem;">By: {{song.originalArtist}}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

<!--  <div style="display: none;">-->
<!--  <div>-->
<!--    <label for="name">Song name: </label>-->
<!--    <input id="name" [(ngModel)]="song.songTitle" placeholder="name">-->
<!--  </div>-->

<!--  <h2>{{song.songTitle}}</h2>-->
<!--  <h2>{{song.readyToPerform}}</h2>-->
<!--  </div>-->


  <div
    [class.songDetail--songSelected]="selectedSong"
    class="songDetail">
    <div class="songDetail__inner">

      <button
        class="songDetail__goBack"
        (click)="backToList()">Back to List</button>

      <div *ngIf="selectedSong">
      <h1 class="songDetail__title">{{selectedSong.songTitle}}</h1>
      <h3 class="songDetail__originalArtist">By: {{selectedSong.originalArtist}}</h3>

  <!--    <div>-->
  <!--      <label for="song-name">Song name: </label>-->
  <!--      <input id="song-name" [(ngModel)]="selectedSong.songTitle" placeholder="name">-->
  <!--    </div>-->

        <ul class="songSections">
          <li class="songSection" *ngFor="let songSection of selectedSong.songComposition">
            <h2 class="songSection__title">{{ songSection.songSectionName }}</h2>
  <!--          {{ songSection.songSectionId }}-->

              <div class="songSection__form">
                <div class="songSection__formField">
                  <label class="globalFormLabel" for="newSongSectionNote">Musical Note</label>
                  <input
                    #newSongSectionNote
                    type="text"
                    placeholder="add a song section note"
                    class="lg-text-input"
                    id="newSongSectionNote"
                  />
                </div>

                <div class="songSection__formField">
                  <label class="globalFormLabel" for="newSongSectionNoteNumberOfCounts">Number Of Counts Note is Played</label>
                  <input
                    #newSongSectionNoteNumberOfCounts
                    placeholder="add number of counts"
                    class="lg-text-input"
                    type="number"
                    id="newSongSectionNoteNumberOfCounts"
                  />
                </div>

                <button class="btn-primary" (click)="addSongSectionNote(newSongSectionNote.value, newSongSectionNoteNumberOfCounts.valueAsNumber, songSection.songSectionId)">Add Note</button>
              </div>

            <h3 class="songSection__noteListTitle">Notes</h3>
                <ul class="songSection__noteList">
              <ng-container *ngFor="let songSectionNote of songSection.songSectionMusicNotes">
              <li class="size--{{ songSectionNote.individualNoteNumberOfCounts }}">
                {{ songSectionNote.individualNoteName }} -
                {{ songSectionNote.individualNoteNumberOfCounts }} counts
              </li>
              </ng-container>
            </ul>
          </li>
        </ul>

        <div class="songDetail__addNewSection">
          <div class="songDetail__addNewSectionFormField">
            <label class="globalFormLabel" for="addSongSection">Song Section</label>
            <input
              #newSongSection
              type="text"
              placeholder="Verse, Chorus, Bridge, etc"
              class="lg-text-input"
              id="addSongSection"
            />
          </div>
          <button class="btn-primary songDetail__addNewSectionButton" (click)="addSongSection(newSongSection.value, selectedSong.songComposition?.length ?? 0)">Add Song Section</button>
        </div>



      </div>



      <div *ngIf="!selectedSong" style="font-style: italic; color: #ccc; font-size: 1.3rem;">
        -- There is no song selected
      </div>

    </div>

  </div>

</div>


<div class="addNewSong">

<h2 class="addNewSong__title">Add a Song to the List</h2>

<div class="addNewSong__field">
  <label class="globalFormLabel" for="addItemInput">Song Title</label>
  <input
    #newSongTitle
    type="text"
    placeholder="add a song title"
    class="lg-text-input"
    id="addItemInput"
  />
</div>

<div class="addNewSong__field">
  <label class="globalFormLabel" for="addOriginalArtistsInput">Original Artist</label>
  <input
    #newOriginalArtist
    type="text"
    placeholder="add the original artist"
    class="lg-text-input"
    id="addOriginalArtistsInput"
  />
</div>

<button class="btn-primary addNewSong__button" (click)="addItem(newSongTitle.value, newOriginalArtist.value)">New Song</button>

</div>
